
<form class="aui">
    <aui-label for="sync-product-single-select">Select a field:</aui-label>
    <p>
        <aui-select
                id="secret-single-select"
                name="secret-single-select"
                placeholder="Select a field"
        >

            <aui-option>$projectId</aui-option>
            <aui-option>$projKey</aui-option>
            <aui-option>$projName</aui-option>
        </aui-select>
    </p>
</form>