##<head>
##    <script src="https://unpkg.com/browse/@atlassian/aui@9.4.3/dist/aui/aui-prototyping.js"></script>
##    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@atlassian/aui@8.6/dist/aui/aui-prototyping.css"/>
##    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
##    <script src="https://cdnjs.cloudflare.com/ajax/libs/sinon.js/1.15.4/sinon.js"></script>
##    <script src="https://unpkg.com/@atlassian/aui@8.6/dist/aui/aui-prototyping.js"></script>
##</head>
<form class="aui">
    <aui-label for="sync-product-single-select">Select a field:</aui-label>
    <p>
        <aui-select
                id="secret-single-select"
                name="secret-single-select"
                placeholder="Select a field"
        >
            <aui-option>$projectId</aui-option>
            <aui-option>$projKey</aui-option>
            <aui-option>$projName</aui-option>
            <aui-option>$issueKey</aui-option>
        </aui-select>
    </p>
</form>
