<html>
<head>
    <title>$i18n.getText("anma.admin.label")</title>
    <meta name="decorator" content="atl.general" />
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
</head>
<body>
    <div id="page" style="height: 800px">
        <h2>Secret Internal Sprint Name</h2>
        <form class="aui">
            <aui-label for="sync-product-single-select">Select a field:</aui-label>
            <p>
                <aui-select
                        id="secret-single-select"
                        name="secret-single-select"
                        placeholder="Select a field"
                >
                    <aui-option>$projectId</aui-option>
                    <aui-option>$projKey</aui-option>
                </aui-select>
            </p>
        </form>
        <div>
            <table class="aui">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Issue</th>
                    <th>Fields</th>
                    <th>Action</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($rec in $records)
                        <tr>
                            <td>$rec.getUserName()</td>
                            <td>$rec.getIssueKey()</td>
                            <td>$rec.getFields()</td>
                            <td>$rec.getEventType()</td>
                            <td>$rec.getTime()</td>
                        </tr>
                    #end
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>